#root {
--tabs-height: 30px !important; /* Adjust tab height */
--tabs-title-padding: 2px;
--tabs-font-size: 16px;
--tabs-title-lines: 1;
}

#root::before {
  content: "";
  display: block;
  height: 96px;                 /* change as needed */
  width: 100%;
  pointer-events: none;         /* doesn't block clicks; change to 'auto' if you want clicks to land here */
  box-sizing: border-box;
}

#sidebar-header{ display: none }

.Tab .t-box {
align-items: center;
max-height: calc(var(--tabs-height) - var(--tabs-title-padding));
overflow: hidden;
}
.Tab .title {
font-size: var(--tabs-font-size);
white-space: pre-wrap;
line-height: calc((var(--tabs-height) - var(--tabs-title-padding)) / var(--tabs-title-lines));
}

